<<html>
<head>
	
			<title>My awesome form</title>
			
</head>
<body>
<form action="{{ url_for('login') }}" method="post">
	    identification number :<input type = "text" name="id">
	    username : <input type = "text" name = "username">	
            email	:	<input type="text" name="email" />
            password <input type="password" name="password" />
</form>
</body>
</html>
