<<html>
<head>
	
			<title>Form view</title>
			
</head>
<body>
<form action="/logint" method="post">
            {{ form.id }}
            {{ form.username }}
            {{ form.email }}
	    {{ form.password }}
<input type = "submit" value="Enter" >	
</form>
</body>
</html>
